.coming-soon {
    text-align: center;
    color: #EFC315;
}

#cs {
    font-size: 5em;
    margin-right: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.coming-soon-image {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}